!!! Strict
%html{ "xml:lang" => "en-us", :lang => "en-us", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title
      Fresh MerbAuthSlicePassword Slice
    %link{ :href => public_path_for :stylesheet, 'master.css', :rel => "stylesheet", :type => "text/css", :media => "all", :charset => "utf-8" }
    %script{ :src => public_path_for :javascript, 'master.js', :type => "text/javascript", :charset => "utf-8" }
  /
    you can override this layout at slices/mauth_password_slice/app/views/layout/mauth_password_slice.html.erb
  %body.merb-auth-slice-password
    #container
      %h1
        MerbAuthSlicePassword Slice
      #main
        = catch_content :for_layout
